<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
    <appSettings>
      <add key="matrix1Path" value="C:\Users\Yaraslau_Supanitski@epam.com\Documents\Visual Studio 2015\Projects\Laba\Part3\ConApp3.3\resourse\Matrix1.txt" />
      <add key="matrix2Path" value="C:\Users\Yaraslau_Supanitski@epam.com\Documents\Visual Studio 2015\Projects\Laba\Part3\ConApp3.3\resourse\Matrix2.txt" />
    </appSettings>

</configuration>